<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    Under Development
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()" class="example-icon"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Arbitrage Scanner</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </p>
    <div>
      <app-arbitrage-dashboard></app-arbitrage-dashboard>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
