.example-card {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 1rem;
}

.arbitrage_row {
  font-size: large;
  padding: 0.78571429rem !important;
}

.profitbg {
  color: white;
  background-color: #28ae61 !important;
}

.scan-button{
  padding: 2%;
  margin-top: 10%;
}


